* {
    font-family: "Montserrat", sans-serif
}


.bgimg {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('photo.jpg');
    margin-left:0%;
    min-height: 100%;
}

.onChatS{
    margin-top: -30%;
    margin-left: -80%;
    margin-right: -4%;
}
.secHeadLineS{
    margin-top: 1%;
    margin-left: -90%;
    margin-right: -20%;
}


.container{
    margin-left: -1%;
}

.signupPageHeadline {
    margin-bottom: 15%;
    margin-top: 15%;
    margin-right: -7%;
}



.addImage {
    margin-left: 1%;
    margin-bottom: 2%;
}

.col1 {
    margin-right: -16%;
}

#headDec{
    margin-left: 50%;
    margin-right: 20%;
}

#put{
    width: 60%;
    height: 30%;
    margin-left: 50%;
    margin-top:-7%;
}


.poweredByS {
    margin-bottom: -10%;
    margin-left: 60%;
    margin-right: -7%;
}

.signupText {
    width: 80%;
    margin-left: 40%;
    margin-top: -10%;
    margin-bottom: 10%;
    margin-right:-25%;
   
}


#home {
    padding: 128px 16px;
}


