.message-data-righ{
  
   display: inline-block;
   width: 45%;

}


.message-data-left{
    margin-left: -6%;
    margin-top: 2%;
    float: left;
    
  
}

.col1{
    width: 50%;
    margin-left: 0%;
    margin-right: 100%;
}
.col2{
    width: 50%;
    margin-right: 0%;
    margin-left: 100%;
}

ul {
    list-style-type: none;
   }