.message-data-righ{
    padding: auto;
}

.message-data-left{
    padding: auto;
}

.col1{
    width: 50%;
    margin-left: 0%;
    margin-right: 100%;
}
.col2{
    width: 50%;
    margin-right: 0%;
    margin-left: 100%;
}