

.chat-messeges{
    margin-left: 44%;


}

.send-button{
    margin-left: 5%;
    position: absolute;
    z-index: 7;
    margin-left: 85%;
    margin-top: 40%;
}

.send-text{
    position: absolute;
    z-index: 7;
    margin-left: 55%;
    margin-top: 40%;
    

}
.text-line{
    width: 300%;
    margin-left: -56%;
   
}



